<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
	<h1 align="center">एडिट संदेश</h1>
	<input class="pull-right" type="button" value="Refresh Page" onClick="window.location.href=window.location.href">
	<hr>
		<%= render 'messages/form' %>
	</div>
</div>
