<h1>Request for joining Tantamukti Samiti</h1>

<pre>
  Hello Admin,
  	Someone has requested to Join Tantamukti Samiti,Login your account to Approve or disapprove.
  	Name: <%= @tanta.user_name %>
  	Post: <%= @tanta.post %>
  	Work Field: <%= @tanta.work_field %>
  	Phone Number: <%= @tanta.phone_number %>
</pre>
